@font-face {
	font-family: "aleo";
	src: url(../fonts/Aleo-Regular.otf); }

@font-face {
	font-family: "aleoLight";
	src: url(../fonts/Aleo-Light.otf); }

@font-face {
	font-family: "aleoLightItalic";
	src: url(../fonts/Aleo-LightItalic.otf); }

@font-face {
	font-family: "aleoItalic";
	src: url(../fonts/Aleo-Italic.otf); }

	@font-face {
	font-family: "aleoBold";
	src: url(../fonts/Aleo-Bold.otf); }

	@font-face {
	font-family: "WCManoNegraBta";
	src: url(../fonts/WCManoNegraBta.otf); }