.header {
	background-image: url("../images/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height:575px;
	border-bottom: 4px solid #f34949;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	text-align:center;
	justify-content: center;

	&__title {
		@include font("WCManoNegraBta", normal, 100px, #fff);
		letter-spacing: letspace(-90, 100);
	}

	&__text {
		@include font("aleo", normal, 1em, #fff, linespace(60, 16));
		letter-spacing: letspace(40, 16);

		&::before, &::after {
			content:'';
			display: inline-block;
			background: #fff;
			width:40px;
			height:1px;
			position: relative;
			bottom:3px;
		}
		&::before {
			right:20px;
		}
		&::after {
			left:20px;
		}
	}
}

@media screen and (max-width:795px) {
	.header__title {
	line-height:linespace(60, 100);
	}
}

@media screen and (max-width:480px) {
	.header__title {
		font-size: 80px;
		margin:0 20px;
		line-height:linespace(60, 80);
	}

	.header__text {
		&::after, &::before {
			display: none;
		}
	}
}