mixin menu() 
	section.menu
		div.l-section
			div.l-menu-header
				div.menu-header
					h2.menu-header__title The Menu

			div.menu-dishes
				div.menu-dish
					div.menu-dish__row
						a.menu-dish__name(href="#") Voluptate cillum fugiat.
						div.menu-dish__line
						span.menu-dish__price $50
					p.menu-dish__composition Cheese, tomato, mushrooms, onions.
				div.menu-dish
					div.menu-dish__row
						a.menu-dish__name(href="#") Metus varius laoreet.
						div.menu-dish__line
						span.menu-dish__price $62
					p.menu-dish__composition Chicken, mozzarella cheese, onions.
				div.menu-dish
					div.menu-dish__row
						a.menu-dish__name(href="#") Donec sodales magna.
						div.menu-dish__line
						span.menu-dish__price $25
					p.menu-dish__composition Tuna, Sweetcorn, Cheese.
				div.menu-dish
					div.menu-dish__row
						a.menu-dish__name(href="#") Saugue velit cursus.
						div.menu-dish__line
						span.menu-dish__price $30
					p.menu-dish__composition Pineapple, Minced Beef, Cheese
				div.menu-dish
					div.menu-dish__row
						a.menu-dish__name(href="#") Arcu pede enim justo.
						div.menu-dish__line
						span.menu-dish__price $45
					p.menu-dish__composition Tuna, Sweetcorn, Cheese.
				div.menu-dish
					div.menu-dish__row
						a.menu-dish__name(href="#") Cras dapibussemper nisi.
						div.menu-dish__line
						span.menu-dish__price $32
					p.menu-dish__composition Pineapple, Minced Beef, Cheese.
				div.menu-dish
					div.menu-dish__row
						a.menu-dish__name(href="#") Quam semper libero.
						div.menu-dish__line
						span.menu-dish__price $15
					p.menu-dish__composition Cheese, tomato, mushrooms, onions.
				div.menu-dish
					div.menu-dish__row
						a.menu-dish__name(href="#") Nam eget dui Etiam.
						div.menu-dish__line
						span.menu-dish__price $35
					p.menu-dish__composition Chicken, mozzarella cheese, onions.

			div.l-menu-button
				button.menu-button load more |