.l-menu-header {
	margin-bottom:60px;
	display: flex;
	justify-content: center;
}

.menu-header {
	@include sprite($menu-title-bg);
	display: flex;
	justify-content: center;

	&__title {
		@include font("aleo", 700, 20px, #fff, linespace(70, 20));
		letter-spacing: letspace(50, 20);
	}
}

.menu-dishes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu-dish {
	width:45%;
	margin-bottom: 50px;
	&__row {
		display: flex;
		align-items: center;
		width:100%;
		justify-content: space-between;
	}

	&__name {
		@include font("aleo", normal, 1em, #555555, linespace(60, 16));
		letter-spacing: letspace(50, 16);
	}

	&__line {
		@extend .l-section-line;
	}

	&__price {
		@extend .menu-dish__name;
	}

	&__composition {
		@include font("aleoLightItalic", normal, 0.75em, #b7b7b7);
		letter-spacing: letspace(50, 12);
	}
}

.l-menu-button {
	display: flex;
	justify-content: center;
	margin-top:40px;
}

.menu-button {
	@include font("aleo", normal, 0.875em, #b7b7b7, linespace(20, 14));
	letter-spacing: letspace(70, 14);
	background-color: #FFF;
	border: 1px solid #b7b7b7;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	cursor:pointer;
	outline:none;

	&::after {
		content:'';
		@include sprite($menu-button-arrow);
		margin-left: 5px;
	}
}

@media screen and (max-width:1033px) {
	.menu-dishes {
		margin:0 40px;
	}

	.menu-dish__line {
		display: none;
	}
}

@media screen and (max-width:800px) {
	.menu-dish {
		width:80%;
		margin: 0 auto 50px;
	}
}

@media screen and (max-width:480px) {
	.menu-dishes {
		margin:0 10px;
	}

	.menu-dish {
		width:100%;
	}
}
