.section-header {
	display: flex;
	align-items: center;
	
	&__title {
		@include font("aleoBold", 700, 20px, #3b3b3b, 100%);
		letter-spacing: letspace(50, 20);
		text-transform: uppercase;

	}
}

.favorites-dishes {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.favorites-dish {
	max-width: 230px;
}

.favorites-dish-description {
	margin:25px 0 10px;
	display: flex;
	justify-content: space-between;
	@include font("aleoLight", 300, 16px, #555555, 100%);
	letter-spacing: letspace(50, 20);
}

.favorites-dish__stars-4 {
	@include sprite($favorites-stars-4);
}

.favorites-dish__stars-3 {
	@include sprite($favorites-stars-3);
}

.favorites-dish__stars-5 {
	@include sprite($favorites-stars-5);
}

@media screen and (max-width:1130px) {
	.favorites-dishes {
		margin:0 auto;
		justify-content: center;
	}

	.favorites-dish {
		margin: 0 20px 20px;
	}

	.section-header {
		justify-content: center;
	}
}
