mixin favorites()
	section.favorites 
		div.l-section
			div.l-section-header
				header.section-header
					h2.section-header__title featured dishes
					div.l-section-line

			div.favorites-dishes
				div.favorites-dish
					a.favorites-dish__link(href="#")
						img.favorites-dish__img(src="../images/favorites-dish-1.jpg" alt="dish")
					div.favorites-dish-description
						p.favorites-dish-description__text Fugiat nulla sint
						span.favorites-dish-description__price $30
					div.favorites-dish__stars-4
				div.favorites-dish
					a.favorites-dish__link(href="#")
						img.favorites-dish__img(src="../images/favorites-dish-2.jpg" alt="dish")
					div.favorites-dish-description
						p.favorites-dish-description__text Daute irure dolor
						span.favorites-dish-description__price $24
					div.favorites-dish__stars-3
				div.favorites-dish
					a.favorites-dish__link(href="#")
						img.favorites-dish__img(src="../images/favorites-dish-3.jpg" alt="dish")
					div.favorites-dish-description
						p.favorites-dish-description__text Officia deserunf mollit
						span.favorites-dish-description__price $60
					div.favorites-dish__stars-5
				div.favorites-dish
					a.favorites-dish__link(href="#")
						img.favorites-dish__img(src="../images/favorites-dish-4.jpg" alt="dish")
					div.favorites-dish-description
						p.favorites-dish-description__text Pim minim veniam
						span.favorites-dish-description__price $17
					div.favorites-dish__stars-4
