mixin gallery()
	section.gallery
		div.l-section
			div.l-section-header
				header.section-header
					h2.section-header__title the gallery
					div.l-section-line

			div.gallery-content
				div.l-column
					img.gallery-content__img(src="images/gallery-img-1.jpg" alt="image")
				div.l-column
					img.gallery-content__img(src="images/gallery-img-2.jpg" alt="image")
					img.gallery-content__img(src="images/gallery-img-4.jpg" alt="image")
				div.l-column
					img.gallery-content__img(src="images/gallery-img-3.jpg" alt="image")
					img.gallery-content__img(src="images/gallery-img-5.jpg" alt="image")
