mixin navbar()
	nav.navbar
		div.l-logo
			a.logo(href="#")
		menu.main-menu
			li.main-menu__el
				a.main-menu__link(href="#") Our Story
			li.main-menu__el
				a.main-menu__link(href="#") Menu
			li.main-menu__el
				a.main-menu__link(href="#") Reservations
			li.main-menu__el
				a.main-menu__link(href="#") News
			li.main-menu__el
				a.main-menu__link(href="#") Reviews