mixin footer()
	footer.footer
		div.footer__content
			div.footer__column.footer__column_1
				span.footer__name New York Restaurant
				p.footer__adress 3926 Anmoore Road New York, NY 10014
				span.footer__number 718-749-1714
			div.footer__column.footer__column_1
				span.footer__name France Restaurant
				p.footer__adress 68, rue  de la Couronne 75002 PARIS
				span.footer__number 02.94.23.69.56
			div.footer__column
				a.footer__link(href="./") Blog
				a.footer__link(href="./") Careers
				a.footer__link(href="./") Privacy Policy
				a.footer__link(href="./") Contact
			div.footer__column
				div.l-logo-white
					a.logo-white(href="#")
				p.copyright &copy; All Rights Reserved 2014. Find More at 
					span.copyright_bold Pixelhint.com
